:root { 
--gray_900_02:#250441; 
--gray_900_03:#20003c; 
--gray_900:#1c1c1c; 
--gray_900_01:#17002e; 
--gray_400_7f:#c0c0c07f; 
--gray_300:#e0e0e0; 
--gray_100:#f5f5f5; 
--black_900_44:#00000044; 
--black_900:#000000; 
--black_900_82:#00000082; 
--deep_purple_A400_01:#6f2cff; 
--deep_purple_A400:#6f2dff; 
--deep_purple_A700:#6f00ff; 
--white_A700:#ffffff; 
--pink_400:#d15187; 
--purple_400:#a445bb; 
}